{%extends 'basic.html'%}
{% load static%}
{% block title%}Login{%endblock%}


{% block body%}

<script src="{% static 'log.js' %}"></script>
<script src="https://www.google.com/recaptcha/api.js" async defer></script>
<br>
<center>
  <div class="container"
    style="height:auto;width: 38%;position: relative;border: solid black 1px ;border-radius: 15px;">
    <center>
      <h1 style="color:#252525;"><strong>Login</strong></h1>
    </center><br>
    <form onsubmit="return check()" action="/Account/login/" method="post">
      {% csrf_token %}

      <div>
        <center><input
            style="width:280px;border: solid #252525;border-width: 2px;padding: 6px;border-radius: 8px;cursor: pointer;background-color:#252525;color: whitesmoke;opacity: 0.7;"
            id="email" type="text" name="username" placeholder="Enter UserName/Mobile/Email" title="Enter UserName/Mobile/Email"></center>
        <center><label id="7" style="color: red;visibility: hidden;font-style: italic;">*Invalid Username</label>
        </center>
        <center><input
            style="width:230px;border: solid #252525;border-width: 2px;padding: 6px;border-radius: 8px;cursor: pointer;background-color:#252525;color: whitesmoke;opacity: 0.7;"
            id="password" type="Password" name="password" placeholder="Enter Password " title="Enter Password"> <button type="button"
            onclick="myFunction()" class="btn btn-outline-dark" title="Show Password">
            <span class="fas fa-eye"></span> 
          </button> </center>
        <center><label id="8" style="color: red;visibility: hidden;font-style: italic;">*It is mandatory</label>
        </center>
        <center>
          <div class="g-recaptcha" data-sitekey="6LeNT9QUAAAAABHIFnenK3KDkG_T2evKYUXp5RI7"
            style="width:280px;cursor: pointer;"></div>
        </center>
        <br>
        <center><input type="submit" value="Sign In" class="btn btn-outline-dark"
            style="width:130px;cursor: pointer;border-radius: 15px;padding: 6px;"></input>
        </center><br>
        <div class="fid">
          <label style="font-weight:bold;width:250px;"><a href="/home/msg"
              style="text-decoration: none;color:navy;">Forgot
              Password</a></label>
          <label style="font-weight:bold;width:250px;"><a href="/Account/register"
              style="text-decoration: none;color:navy;">Registration for new
              elector</a></label>

        </div>
      </div>

    </form>
  </div>
</center><br>
<script>
  function myFunction() {
    var x = document.getElementById("password");
    if (x.type === "password") {
      x.type = "text";
    } else {
      x.type = "password";
    }
  }
</script>
{%endblock%}