{%extends 'basic.html'%}
{% load static%}
{% block title%}SecretCode Verification{%endblock%}



{% block body%}
{% if messages %}
{% for message in messages %}
<center>
    <div class="alert alert-primary alert-dismissible fade show" role="alert" style="background-color: darkgoldenrod;columns: #252525;">
        <strong>{{ message }}</strong>
        <button type="button" class="close" data-dismiss="alert" aria-label="Close">
            <span aria-hidden="true">&times;</span>
        </button>
    </div>
</center>
{% endfor %}
{% endif %}<br>

<center>
    <div style="width: auto;margin-top: 2%;">
        <strong>
            <h1
                style="color:red;background-color: black;font-size: x-large;padding: 20px;width:50%;border-radius: 20px;border: solid whitesmoke;">
                SecretCode Verification</h1>
        </strong>
        <br>
</center>

<center>
    <div class="modal-body">
        <form method="post" action="/Account/VC/" enctype="multipart/form-data">

            {% csrf_token %}
            <div>

                <input autofocus
                    style="width:auto;padding: 6px;cursor: pointer;color:#252525;background-color: white;border: solid #252525;border-radius: 15px;"
                    id="uname" type="password" name="c1" placeholder="Enter SecretCode Here "
                    title="Enter SecretCode Here" required><br>

                <input
                    style="width:auto;padding: 6px;cursor: pointer;color:#252525;background-color: white;border: solid #252525;border-radius: 15px;visibility: hidden;"
                    id="uname" type="password" name="c2" value="{{VC}}">
                <input
                    style="width:auto;padding: 6px;cursor: pointer;color:#252525;background-color: white;border: solid #252525;border-radius: 15px;visibility: hidden;"
                    id="uname" type="password" name="username" value="{{username}}">
                <input
                    style="width:auto;padding: 6px;cursor: pointer;color:#252525;background-color: white;border: solid #252525;border-radius: 15px;visibility: hidden;"
                    id="uname" type="password" name="password" value="{{password}}">


            </div><br>

            <button type="submit" class="btn btn-danger mt-2">SignUp</button></form>

    </div>
</center>
{%endblock%}